<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href='{{ site.Param "avatar" }}' >
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content='{{ site.Param "avatar" }}' />
<meta name="twitter:site" content='@{{ site.Param "twitter" }}' />
<meta name="twitter:title" content="{{ .Title }}" />
{{ if .IsHome }}
<meta name="twitter:description" content='{{ site.Param "desc" }}' />
{{ else }}
<meta name="twitter:description" content='{{ .Summary }}' />
{{ end }}
<meta name="og:image" content='{{ site.Param "avatar" }}' />
<meta name="og:title" content="{{ .Title }}" />
{{ if .IsHome }}
<meta name="og:description" content='{{ site.Param "desc" }}' />
<meta name="description" content='{{ site.Param "desc" }}' />
{{ else }}
<meta name="og:description" content='{{ .Summary }}' />
<meta name="description" content='{{ .Summary }}' />
<meta name="twitter:description" content='{{ .Summary }}' />
{{ end }}
{{ $style := resources.Get "style.css" }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ if .IsHome }}
<title>Home|{{ .Site.Title }}</title>
{{ else }}
<title>{{ .Title }}|{{ .Site.Title }}</title>
{{ end }}
